.tasks {
  list-style: none;
}
.input, .add {
  height: 35px;
}
.input {
  margin-left: 20%;
  width: 50%;
}
.add {
  background-color: #F0F0F0;
  color: mediumaquamarine;
  font-weight: bold;
}
.input, .add {
  border: 2px solid mediumaquamarine;
}
.items {
  margin-left: 17%;
  font-weight: bold;
  font-size: large;
  color: darkslategray;
  padding-bottom: 1%;
}
.clear_button {
  display: flex;
  justify-content: center;
}